@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

.card__imageURL {
	width: 600px;
	height: 500px;
	margin-bottom: 10px;
}
.card__blurb {
	color: white;
	font-family: "Josefin Sans";
}
.card__buttons {
	margin-left: 350px;
}
.card__viewItem {
	margin-left: 25px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.card__imageURL {
		width: 400px;
		height: 300px;
		margin-bottom: 10px;
	}
	.card__buttons {
		margin-left: 150px;
	}
	.card__viewItem {
		margin-left: 25px;
	}
}
