@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

.cart__container {
	background-color: black;
	height: 1000vh;
	padding: 100px;
}
.cart__artwork {
	margin-bottom: 50px;
}
.cart__imageURL {
	width: 600px;
	height: 500px;
	margin-bottom: 10px;
}
.cart__blurb {
	color: white;
	font-family: "Josefin Sans";
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.cart__container {
		display: flex;
		flex-direction: column;
		padding: 50px;
	}
	.cart__artwork {
		margin-bottom: 0px;
	}
	.cart__imageURL {
		width: 400px;
		height: 300px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.cart__blurb {
		color: white;
		font-family: "Josefin Sans";
	}
}
