@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

.error__container {
	margin-top: 15rem;
	margin-left: 0rem;
	font-family: "Bebas Neue";
	width: 100%;
	height: 60vh;
	background-color: red;
}
/* .error__message {
	margin-top: 10rem;
} */
