.slider__mapData {
	display: grid;
	margin-top: 30rem;
	grid-gap: 20px;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(5, 1fr);
}
.slider__image {
	width: 470px;
	height: 450px;
}
