.products__container {
	background-color: black;
	height: 1000%;
}
.products__artworkDataMap {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 100px;
	margin-left: 200px;
	padding: 50px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.products__artworkDataMap {
		display: grid;
		grid-template-columns: 1fr;
		margin-left: 0px;
	}
}
